body {
  background-color: white;
}

h2 {
  margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

#title_text {
  text-align: center;
  font-size: 50px;
}

.col-lg-12 {
  padding-bottom: 70px;
}

.note {
  text-align: center;
  padding: 10px 0;
  margin: 20px;
}

.note div {
  text-align: left;
  border: 1px solid grey;
  display: inline-block;
  padding: 0.5em 0.7em;
  overflow: auto;
  max-width: 70%;
  background-color: #d6e4f9;
}

.note h3 {
  margin: 0.1em;
  text-align: center;
}

.ex {
  text-align: center;
  width: 70%;
  padding: 10px 0;
  margin: 30px auto;
  padding: 0.5em 0.7em;
  border: 1px solid grey;
  border-radius: 0.5em;
  background: #f2f2f2;
}

.ex button {
  margin-right: 0;
  margin-left: 20px;
}

.ex #question {
  margin: 10px auto;
  text-align: left;
}

.ex #solution {
  display: none;
  text-align: left;
}

.indent {
  margin-left: 20px;
}

.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
}

.footer p {
  position: absolute;
  bottom: 0;
}
