#title_text {
  text-align: center;
  font-size: 50px;
}

body {
  background-color: #fcf1d6;
}

img {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

h1 {
  margin-top: 50px;
}

code {
    background: hsl(260, 0%, 90%);
}

/* CSS for navbar */
#contents {
  background: #ffe5e5;
}
#nav {
  font-size: 20px;
}
#nav li {
  padding: 5px;
}
#nav li a{
  text-decoration: none;
  color: hotpink;
}
#nav li a:hover{
  text-decoration: underline;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle {
  display: flex;
}

.text {
  vertical-align: middle;
  font-size: 30px;
  padding-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#phys {
  display: none;
}

/* CSS for Definitions */
.def {
  border: 3px solid green;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
}

#impt {
  border: 3px solid blue;
}
.def #desc {
  padding-left: 4.8em;
  display: inline-block;
  text-indent: -4.8em;
}
.def #desc li {
  text-indent: 0em;
}

/* CSS for Theorems */
.thm {
  border: 3px solid red;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}

.thm #Theorem {
  padding: 10px;
}
.thm #Proof {
  padding: 10px;
}
.thm #title {
  display: inline-block;
  vertical-align: top;
}
.thm #title label {
  font-weight: bold;
  text-decoration: underline;
}
.thm #desc {
  padding-left: 10px;
  display: inline-block;
}
.thm #pf {
  padding-left: 10px;
  display: inline-block;
}

#nocolour {
  border: none;
}

.formula {
  padding: 1em;
  display: inline-block;
}

.formula table {
  border: 2px solid black;
  width: auto;
}

.formula td {
  padding: 1em;
}

.concept {
  border: 3px solid blue;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
}
